body {
  font-family:"Verdana";
  background:#9db1cc;
  padding: 6px;
}
 
h1 {
  text-align:"center";
}

button {
  width: 80px;
  height: 68px ;
  border: 5px
}

#mmb {
  width: 80px;
  height: 18px ;
  border: 5px
}