html, body{
    width: 100%;
    height: 100%;
    color:whitesmoke;
    margin:0;
}

.bkg {
    position: fixed;
    width:100%;
    height:100%;
    z-index: -999;
    background: linear-gradient(#150055, #550055);
}

html, body, button {
    font-family: "MS Gothic", "Consolas";
}

h1 {
    font-size: 36px;
    text-align: center;
}

h1, h2, h3 {
    text-shadow: 3px 3px 3px #ffffffaa;
}

h1.title {
    height: 76px;
    background: #00000077;
    border-bottom: 3px solid whitesmoke;
    animation: lightglow 5s infinite;
    animation-timing-function: linear;
    margin:0;
    padding-top: 20px;
}


@keyframes lightglow {
    0% {box-shadow: 0px 0px 15px #ffffff;}
    50% {box-shadow: 0px 0px 20px #ffffff;}
    100% {box-shadow: 0px 0px 15px #ffffff;}
}

@keyframes scroll256pxbg {
        0% {
        background-position-x: 0px;
        background-position-y: 0px;
    }
        100% {
        background-position-x: 256px;
        background-position-y: 256px;
    }
}

button {
    padding:0;
    background: #ddd;
    border-right: 3px solid#aaa;
    border-bottom: 3px solid#aaa;
    border-top: 3px solid#fff;
    border-left: 3px solid#fff;
}
button:hover {
    background: #fff;
}
button:active {
    background: #ddd;
    border-left: 3px solid#aaa;
    border-top: 3px solid#aaa;
    border-bottom: 3px solid#fff;
    border-right: 3px solid#fff;
}

.con {
    margin: auto;
    width: 80%;
    border: 3px solid white;
    padding: 10px;
    border-radius: 9px; 
    margin-top: 15px;
    margin-bottom: 15px;
    background: #00000077 url("./assets/stars.png");
    animation: lightglow 5s infinite, scroll256pxbg 10s infinite;
    animation-timing-function: linear;
}

.elem {
    display:inline-flex;
    border-right: 3px solid#aaa;
    border-bottom: 3px solid#aaa;
    border-top: 3px solid#fff;
    border-left: 3px solid#fff;
    background:#150055;
    text-shadow: 3px 3px 3px #ffffffaa;
    margin: 5px;
}
.elem div {
    padding: 5px;
}
.elem button {
    margin:0;
    height:100%;
}
.bgroup {
    border-left: 3px solid#fff;
}