* {
  background: black;
  font-family:'Seoge UI';
}

.subtitle, .result, input, button{
  color: #efe;
}

.result{
  font-size:24.5px;
}

.bottom_text{
  font-size:8px;
  position: absolute;
  color: #efe;
  bottom:6vh;
  left:11vh;
} 