html {
  height: 100%;
  width: 100%;
  background: black;
}
.green{
  color:#0f0;
  background: #030;
}
.yellow{
  color:#ff0;
    background: #330;
}
.red{
  color:#f00;
    background: #300;
}
span{
  font-size: 24px;

}
